.body {
 flex-direction: column;
}
.centro {
    text-align: center;
    font-size: 50px;
}

.contener {
    display: flex;
    justify-content: center;
    height: 100px;
}

.bloco {
    background-color: rgba(78, 76, 76, 0.637);
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.input {
    border: 0;
    background-color: rgb(224, 219, 219);
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}

.button-login {
    background-color: rgb(34, 22, 192);
    color: wheat;
    font-size: 20px;
    height: 60px;
    border-radius: 10px;
    margin-top: 30px;
    border: 0px;
}

.button-login:hover{
    background-color: rgb(83, 75, 187);
    transform: all 3s;
}